{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-section">
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- load the side bar here -->
                    {% include 'includes/c_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                                <h5 class="text-uppercase">
                                        overview
                                </h5><br>
                                <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <div class="card">
                                                        <div class="card-header">
                                                                Total orders
                                                        </div>
                                                        <div class="card-body text-center">
                                                                <h5 class="card-title">{{orders|length}}</h5>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <div class="card">
                                                        <div class="card-header">
                                                                Logged in as <b>{{user.email}}</b>
                                                        </div>
                                                        <div class="card-body text-center">
                                                                <a href="{% url 'cprofile' %}"><h5 class="card-title"><i class="fa fa-edit"></i> &nbsp;Edit Profile</h5></a>
                                                        </div>
                                                </div>
                                        </div>
                                        
                                </div><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="element-title has-border right-filters-row">
                                        <h5>Recent Orders</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="user-orders-list">
                                        <div class="responsive-table">
                                            <ul class="table-generic">
                                                <li class="order-heading-titles">
                                                    <div>
                                                        Order id
                                                    </div>
                                                    <div>Date</div>
                                                    <div>
                                                        Total Price
                                                    </div>
                                                    <div>
                                                        Status
                                                    </div>
                                                </li>
                                                
                                                {% for recent_order in recent_orders %}
                                                <li class="order-heading-titles">
                                                    <div>
                                                        <a href="#" data-toggle="modal" data-target="#order-det-22606">{{recent_order.order_number}}</a>
                                                    </div>
                                                    <div>
                                                        {{recent_order.created_at}}
                                                    </div>
                                                    <div>
                                                        Rs {{recent_order.total}}
                                                    </div>
                                        
                                                    <div>
                                                        
                                                                {% if recent_order.status == 'initiated' %}
                                                                        <span class="order-status" style="background-color: blue;">{{recent_order.status}}</span>
                                                                {% elif recent_order.status == 'completed' %}
                                                                        <span class="order-status" style="background-color: #047a06;">{{recent_order.status|title}}</span>
                                                                {% else %}
                                                                        <span class="order-status" style="background-color: red">{{recent_order.status}}</span>
                                                                {% endif %}
                                                        
                                                        
                                                        </div>

                                                    <div>
                                                        <a href="{% url 'order_details' recent_order.order_number %}" class="btn btn-outline-info">Details</a>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/alerts.html' %}
{% endblock %}
